<table border="0" style="font-size:50%" id="A350"></table>
<script>
function tbl(csv) {
  // ..
}

// You have to wrap your main logic in `async` for it to work.
(async function() {
  const URL = 'https://raw.githubusercontent.com/clintjb/A350-Tracking/main/flight_data_a350.csv'
  const TARGET_ID = 'A350'

  const resp = await fetch(URL);
  if (!resp.ok) {
    throw new Error(`${URL} HTTP error: ${resp.status} - ${resp.statusText}`);
  }
  const text = await resp.text();
  const tableHtml = tbl(text)
 
  const el = document.getElementById(TARGET_ID)
  el.innerHtml = tableHtml
})
</script>
