<center>
    <div>
        <iframe style="height: 720px; width: 80%; overflow: auto;" src="https://htmlpreview.github.io/?https://raw.githubusercontent.com/clintjb/A350-Tracking/main/flight_data_a350.html" frameborder="0"></iframe>
    </div>
</center>

<center>
    <div>
        <iframe style="overflow: auto;" src="https://htmlpreview.github.io/?https://raw.githubusercontent.com/clintjb/A350-Tracking/main/flight_data_a350.html"></iframe>
    </div>
</center>

<center>
    <div>
        <iframe style="width: 80%; overflow: auto;" src="https://htmlpreview.github.io/?https://raw.githubusercontent.com/clintjb/A350-Tracking/main/flight_data_a350.html" frameborder="0"></iframe>
    </div>
</center>

<center>
    <div>
        <iframe style="height: 40%; width: 80%; overflow: auto;" src="https://htmlpreview.github.io/?https://raw.githubusercontent.com/clintjb/A350-Tracking/main/flight_data_a350.html" frameborder="0"></iframe>
    </div>
</center>
