<ul class="socials">
      <span>Share | </span>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="btn btn-social-icon btn-facebook" title="Share on Facebook"><span class="fab fa-fw fa-facebook" aria-hidden="true"></span> <span class="sr-only">Facebook</span></a>
      <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}+{{ site.url }}{{ page.url }}" class="btn btn-social-icon btn-twitter" title="Share on Twitter"> <span class="fab fa-fw fa-twitter" aria-hidden="true"></span><span class="sr-only">Twitter</span></a>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}" class="btn btn-social-icon btn-linkedin" title="Share on LinkedIn"><span class="fab fa-fw fa-linkedin" aria-hidden="true"></span> <span class="sr-only">LinkedIn</span></a>
</ul>