<ul class="socials">
	{% for url in site.data.settings.social_settings %}
	{% if url[1] != '' %}
	<li class="socials__item">
		<a href="{{ url[1] }}" target="_blank" class="socials__item__link" title="{{ url[0] | remove: '_url' | replace: 'fas fa-envelope', 'Contact' | replace: 'fas fa-rss', 'RSS' | replace: 'fab fa-linkedin', 'LinkedIn' | replace: 'fab fa-lastfm', 'LastFM' | replace: 'fab fa-github', 'GitHub' }}">
		<i class="{{ url[0] | remove: '_url' }}" aria-hidden="true"></i>
		</a>
	</li>
	{% endif %}
	{% endfor %}
</ul>